.NavBar {
  display: grid;
  grid-template-columns: 50% 50%;
  list-style: none;
  font-size: 20px;
  height: 80px;
  align-items: center;
  color: white;
}
.link {
  text-decoration: none;
  position: relative;
  padding: 5px 0;
  font-weight: 500;
  z-index: 1;
}

/*Адаптивка*/



.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #FA9021;
  transition: width 0.3s ease;
}
.link:hover::after {
  width: 100%;
}
.link:last-child::after{
    width: 0px;
}
.Logo {
  /* border: 1px solid; */
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 1000;
  padding-left: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
    
.menu {
  /* border: 1px solid; */
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/*Анимация Лого*/
.LogoAnim{
  background:linear-gradient(45deg,
    #ff0057, #ffae00, #fffb00,
    #00ff2b, #00c8ff, #7a00ff,
    #ff0057);
  background-size:600% 600%;

  -webkit-background-clip:text;
  background-clip:text;
  color:transparent;

  
  animation:wave 6s ease-in-out infinite;
  display:inline-block;       
}
@keyframes wave{
  0%   {background-position:   0% 50%;}
  50%  {background-position: 100% 50%;}
  100% {background-position:   0% 50%;}
}

.LogoAnim:nth-child(1){animation-delay:0s;}
.LogoAnim:nth-child(2){animation-delay:0.7s;}
.LogoAnim:nth-child(3){animation-delay:1.4s;}
.LogoAnim:nth-child(4){animation-delay:2.1s;}